<h2>SPYPredictor</h2>
Final Project Prototype Shuzo Katayama, 15 November 2020

Description

In this project, I hope to accomplish the task of predicting the price of the SPRD S&P 500 ETF (SPY), a popular exchange-traded fund that trakcs the performance of the S&P 500 market index. Specifically, I want to use a regression algorithm to train a model to predict the closing price of SPY on a particular day given (but not limited to) these factors: the GDP, the unemployment rate, and the federal funds rate, and the opening price of SPY. 

As a prototype, I plan to use these few indicators to predict the closing price of SPY, but I do not expect for it to work well because these indicators are not updated daily. Throughout the project, I plan to add more indicators and train more models to fine tune the models I train. I will, therefore, run this final project as a long experiment, essentially using a trial and error tactic to find the best model for this task. Ultimately, I hope to have a long Jupyter Notebook that tracks the progress of the different models I trained, and a shorter Juptyer Notebook just containing the final model.

By predicting the price of SPY, I hope to accomplish the task of seeing which factors can best predict the movement of the S&P 500 index on a given day. This information can be used to better understand what affects the movement of the US market in general. Since SPY is a collection of a lot of the largest corporations in the US, seeing what data most accurately predicts the movement of SPY can generalise what kind of data moves the US stock market in general.

Progress

For this prototype, I created a very basic version of the final product. 

The project now needs more fine tuning to be complete. For the rest of the project, I will be adding more data to fine tune the regression model, while simultaneously testing different regression models (symbolic regression, random trees regression, and linear regression) to improve the model. Essentially, I plan to run the weeks leading up to the due date of the final project as a long trial and error experiment to see how well I can train the SPYPredictor.

Data:

SPY Prices: https://finance.yahoo.com/quote/SPY/history?period1=728265600&period2=1604966400&interval=1mo&filter=history&frequency=1mo&includeAdjustedClose=true \
GDP: https://fred.stlouisfed.org/series/GDP \
Unemployment: https://fred.stlouisfed.org/series/UNRATE \
Federal Funds Rate: https://fred.stlouisfed.org/series/FEDFUNDS

In [3]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
import numpy as np
import pandas as pd

Importing the data:\
All the data will come initially in a DataFrame with the name of the data followed by 'df'

In [54]:
# Daily prices of SPY
SPYdf = pd.read_csv('SPYDaily.csv')
SPYdf

,Date,Open,High,Low,Close,Adj Close,Volume
0,1993-01-29,43.968750,43.968750,43.750000,43.937500,26.079659,1003200
1,1993-02-01,43.968750,44.250000,43.968750,44.250000,26.265144,480500
2,1993-02-02,44.218750,44.375000,44.125000,44.343750,26.320782,201300
3,1993-02-03,44.406250,44.843750,44.375000,44.812500,26.599014,529400
4,1993-02-04,44.968750,45.093750,44.468750,45.000000,26.710312,531500
...,...,...,...,...,...,...,...
6992,2020-11-03,333.690002,338.250000,330.290009,336.029999,336.029999,93294200
6993,2020-11-04,340.859985,347.940002,339.589996,343.540009,343.540009,126959700
6994,2020-11-05,349.239990,352.190002,348.859985,350.239990,350.239990,82039700
6995,2020-11-06,349.929993,351.510010,347.649994,350.160004,350.160004,74973000
6996,2020-11-09,363.970001,364.380005,354.059998,354.559998,354.559998,171760300

In [100]:
GDPdf = pd.read_csv('GDPQuarterly.csv')
GDPdf

           DATE        GDP
0    1993-01-01   6729.459
1    1993-04-01   6808.939
2    1993-07-01   6882.098
3    1993-10-01   7013.738
4    1994-01-01   7115.652
..          ...        ...
106  2019-07-01  21540.325
107  2019-10-01  21747.394
108  2020-01-01  21561.139
109  2020-04-01  19520.114
110  2020-07-01  21157.635

[111 rows x 2 columns]

In [101]:
Unemploymentdf = pd.read_csv('UnemploymentMonthly.csv')
Unemploymentdf

           DATE  UNRATE
0    1993-01-01     7.3
1    1993-02-01     7.1
2    1993-03-01     7.0
3    1993-04-01     7.1
4    1993-05-01     7.1
..          ...     ...
329  2020-06-01    11.1
330  2020-07-01    10.2
331  2020-08-01     8.4
332  2020-09-01     7.9
333  2020-10-01     6.9

[334 rows x 2 columns]

In [103]:
FedFundspd = pd.read_csv('Fedfunds.csv')
FedFundspd

           DATE  FEDFUNDS
0    1993-01-01      3.02
1    1993-02-01      3.03
2    1993-03-01      3.07
3    1993-04-01      2.96
4    1993-05-01      3.00
..          ...       ...
329  2020-06-01      0.08
330  2020-07-01      0.09
331  2020-08-01      0.10
332  2020-09-01      0.09
333  2020-10-01      0.09

[334 rows x 2 columns]

Splitting Data into X and y

In [94]:
# Training targets are the closing prices of SPY
y = SPYdf.to_numpy()
y = y[:, 4]

In [95]:
# Initialise Xdf as initially having 5 columns and the number of rows in SPYdf
c = 6
r = len(SPYdf)

a = SPYdf.to_numpy()
X = np.empty((r,c))

# Keep a separate array of the dates
Xdate = SPYdf.to_numpy()
Xdate = Xdate[:,0]

For the training data, the following columns in the array X will contain the following data:\
0: Opening price\
1: GDP\
2: Unemployment\
3: Federal Funds Rate

In [97]:
# Copy into column 0 in X, the opening price from a
counter = 0
for item in a:
    X[counter, 0] = item[1]
    counter = counter+1

In [108]:
# Copy intoi column 1, the GDP
g = GDPdf.to_numpy()
counter = r-1
for item in a:
    X[counter,1]